werkstatt-ebook-architect/Master_Ebook_Architect.json
{
  "name": "Master-Ebook-Architect",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -780,
        -60
      ],
      "id": "56261bda-0d76-42b8-8a1d-2069941a289c",
      "name": "Telegram Trigger",
      "webhookId": "22f095f3-5bd4-48a3-8a3e-1c95917f63c5",
      "credentials": {
        "telegramApi": {
          "id": "RnbZ5wf9jtasPUjv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        -60
      ],
      "id": "24934e58-cd7f-43b7-beeb-c08e5aa26376",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "msg",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "40558dd6-fd55-4b6f-86ff-f121699d0520"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thema"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abf7f8e8-5296-4abd-92b4-ebfe7aba826e",
                    "leftValue": "msg",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Kapitel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5807d22-2d19-49bb-91c3-ed550c8c7a5d",
                    "leftValue": "msg",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Finalisierung"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41001729-d6e9-4858-998c-5db163d8ce74",
                    "leftValue": "msg",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fehlermeldung an Telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        -80
      ],
      "id": "0d7e570b-61f5-4384-a71f-d130213f51ff",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -180,
        -460
      ],
      "id": "470821e3-7287-48d6-a3a8-12049791a546",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -140,
        280
      ],
      "id": "b3c00002-c5e1-45fb-814f-3ecdb1451efd",
      "name": "Telegram",
      "webhookId": "a2a2af2b-6a9e-4035-8898-84354cf7268c",
      "credentials": {
        "telegramApi": {
          "id": "RnbZ5wf9jtasPUjv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        500,
        -460
      ],
      "id": "f5991efb-c7a1-4410-9ea5-ec43212340d9",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        -460
      ],
      "id": "9981cc44-2849-4bd7-a3a6-9f51b653fc62",
      "name": "Telegram1",
      "webhookId": "c84cfcc2-cf8d-4335-be64-9685b741185f",
      "credentials": {
        "telegramApi": {
          "id": "RnbZ5wf9jtasPUjv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        -160
      ],
      "id": "3adcdeb9-712d-4804-aef9-11120f6aadbf",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        20,
        -160
      ],
      "id": "ace1a13f-994f-4a79-8687-2c4240dbde88",
      "name": "Google Sheets2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        680,
        -160
      ],
      "id": "0a804538-a6ce-48b4-973d-50bb488ff81d",
      "name": "Google Sheets3"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        -160
      ],
      "id": "a036a3c8-6996-4adb-bf51-4d1868a94093",
      "name": "Telegram2",
      "webhookId": "a65ec21a-4d00-44af-a9e0-8c612c3ef16e",
      "credentials": {
        "telegramApi": {
          "id": "RnbZ5wf9jtasPUjv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -140,
        100
      ],
      "id": "6d30d42e-2246-4afb-914f-5808c7824f77",
      "name": "Google Drive1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        60,
        100
      ],
      "id": "9bad2fd2-9446-4831-8da1-21e9e47349d8",
      "name": "Google Sheets4"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        100
      ],
      "id": "dd3a52d2-bc35-4726-b248-1ecf0f3ad3a8",
      "name": "Code1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -460
      ],
      "id": "4f63872b-dcd4-428d-a0f8-41fdcc34e65e",
      "name": "Code2"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -160
      ],
      "id": "6d3ea43a-ce93-4262-804a-479709fcde5c",
      "name": "Code3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        500,
        100
      ],
      "id": "f9111684-8cc2-4a36-b298-6c7a0d4ae75e",
      "name": "Google Docs"
    },
    {
      "parameters": {
        "operation": "update",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        100
      ],
      "id": "c0b114c3-dbf1-4036-9cfa-f4b1426b7748",
      "name": "Google Docs1"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        100
      ],
      "id": "b84e26a2-9799-469e-8b04-a698d230bba4",
      "name": "Telegram3",
      "webhookId": "014d5ca7-e18c-4d83-93bf-86ca34921322",
      "credentials": {
        "telegramApi": {
          "id": "RnbZ5wf9jtasPUjv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        -460
      ],
      "id": "3244fbb9-e501-47c7-95b0-4997f726c1bf",
      "name": "chatGPT erstellt Gliederung",
      "credentials": {
        "openAiApi": {
          "id": "1hZuUMraRySBU9Tk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        180,
        -160
      ],
      "id": "9d313064-917d-4404-be34-78875f978b0a",
      "name": "chatGPT schreibt Kapitel",
      "credentials": {
        "openAiApi": {
          "id": "1hZuUMraRySBU9Tk",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "chatGPT erstellt Gliederung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "chatGPT schreibt Kapitel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatGPT erstellt Gliederung": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatGPT schreibt Kapitel": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "119d4c59-d22c-4d42-aa12-1c0ed036cbf4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b23ab98b1d769d7d99294e08f325ccd9a98e9e0e05d6a75f71bb591e466574c2"
  },
  "id": "olLh4B2NTffyp7VI",
  "tags": []
}